<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{- partial "partials/head.html" . -}}
  </head>
  <body>
    <header>
      <h2><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
    </header>
    {{ block "main" . }}
    <- the main content of the page which will be defined in either list or single ->
    {{ end }}
    {{- partial "partials/footer.html" . -}}
  </body>
</html>
