{{ define "main" }}
  <!-- Source: https://retrolog.io/blog/creating-a-hugo-theme-from-scratch/ -->
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Pages.ByPublishDate.Reverse }}
  <p>
      <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      {{/* partial "metadata.html" . */}}
      <p>{{ .Summary }}</p>
  </p>
  {{ end }}
{{ end }}
