<link rel="apple-touch-icon" sizes="180x180" href={{ absURL "apple-touch-icon.png" }}>
<link rel="icon" type="image/png" sizes="32x32" href={{ absURL "favicon-32x32.png" }}>
<link rel="icon" type="image/png" sizes="16x16" href={{ absURL "favicon-16x16.png" }}>
<link rel="manifest" href={{ absURL "site.webmanifest" }}>
<link rel="mask-icon" href={{ absURL "safari-pinned-tab.svg" }} color="#5bbad5">
<link rel="shortcut icon" href={{ absURL "favicon.ico"}}>
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-config" content={{ absURL "browserconfig.xml" }}>
<meta name="theme-color" content="#000000">
