<!DOCTYPE html>
<html>
  <head><script src="/livereload.js?mindelay=10&amp;v=2&amp;port=1313&amp;path=livereload" data-no-instant defer></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Creando mi página con Hugo | No Sólo Cuentas</title><link rel="apple-touch-icon" sizes="180x180" href=http://localhost:1313/apple-touch-icon.png>
<link rel="icon" type="image/png" sizes="32x32" href=http://localhost:1313/favicon-32x32.png>
<link rel="icon" type="image/png" sizes="16x16" href=http://localhost:1313/favicon-16x16.png>
<link rel="manifest" href=http://localhost:1313/site.webmanifest>
<link rel="mask-icon" href=http://localhost:1313/safari-pinned-tab.svg color="#5bbad5">
<link rel="shortcut icon" href=http://localhost:1313/favicon.ico>
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-config" content=http://localhost:1313/browserconfig.xml>
<meta name="theme-color" content="#000000">
</head>
  <body>
    <header>
      <h2><a href="http://localhost:1313/">No Sólo Cuentas</a></h2>
    </header>
    
  <h1>Creando mi página con Hugo</h1>
  Creado 
  el
viernes
3 de
febrero
de 2023

</br>
  Modificado por última vez
  el
viernes
3 de
febrero
de 2023


  <p>Versión 0.1, del 3 de febrero de 2023</p>
<h1 id="comandos-para-producir-la-página-web">Comandos para producir la página web</h1>
<h2 id="previsualización-de-la-página-web">Previsualización de la página web</h2>
<p>Con el comando
hugo server
se puede visualizar en tiempo real los cambios hechos a la página web, sin necesidad de reconstruirla. La página web se puede acceder en
localhost:1313</p>
<h2 id="crear-la-página-web-y-subirla-a-internet">Crear la página web y subirla a internet</h2>
<p>El comando
hugo
crea los archivos definitivos de la página web, que se almacenan en la carpeta
public.</p>
<p>Una vez creados dichos archivos, se puede hacer un commit para registrar los cambios en git y enviarlos al repositorio remoto con
git push.</p>
<h1 id="los-directorios">Los directorios</h1>
<h2 id="public">public</h2>
<p>La carpeta
public
es la que almacenará todos los archivos HTML, JS, CSS y demás que se generen con la página web: lo que realmente se sirve desde un servidor y se visualiza en el navegador. Los contenidos de la carpeta se actualizan cada vez que usamos el comando
hugo
y construimos la página web a partir de las distintas plantillas, archivos de contenido y de configuración.</p>
<h2 id="content">content</h2>
<p>La carpeta
content
almacena los archivos de contenido de nuestra página web, es decir, el texto de cada una de las páginas accesibles desde el navegador, lo que nosotros interpretaríamos como <em>nuestra</em> página. Éstos son archivos Markdown.</p>
<p>Las distintas subcarpetas permiten crear secciones en nuestra página web, a las que pertenecerán las páginas correspondientes a los archivos de contenido que haya en dichas carpetas. También pueden usarse para definir categorías.</p>
<h3 id="_indexmd">_index.md</h3>
<p>Los archivos
_index.md
permiten añadir texto propio a las páginas de sección, categorías, o listas en general. En principio, el propósito de estas páginas es servir de listado de otras páginas más importantes (por ejemplo, una sección que muestre ciertas páginas de un blog), pero si queremos que muestre algún texto o imágenes introductorios, este texto irá en un archivo _index.md situado en el interior del directorio correspondiente.</p>
<h2 id="layouts">layouts</h2>
<p>En la carpeta
layouts
se guardan las plantillas para crear las páginas de nuestro sitio web. Aquí se indican los elementos comunes para varias páginas que compartan un determinado estilo. Por ejemplo, con una plantilla para entradas de blog, se puede generar un nuevo archivo HTML por cada archivo Markdown de contenido en la carpeta
content</p>
<h3 id="_default">_default</h3>
<p>El subdirectorio
_default
contiene archivos importantes acerca de la disposición de tu página web.</p>
<h4 id="basofhtml">basof.html</h4>
<p>Contiene las referencias básicas al diseño de la página web.</p>
<h4 id="singlehtml">single.html</h4>
<p>Para páginas donde sólo hay un ítem: un &ldquo;acerca de&rdquo;, &ldquo;contacto&rdquo;, etc.</p>
<h4 id="listhtml">list.html</h4>
<p>Para páginas donde hay una lista de elementos: lista de entradas de blog, etc.
Se aplicará cuando Hugo encuentre ficheros llamados
_index.md</p>
<h1 id="disposición-layout">Disposición (layout)</h1>
<p>Puedes crear referencias a bloques de contenido en
basof.html
que luego defines mejor en otros archivos de plantilla, como
single.html
Por ejemplo, puedes tener un
{{ block &ldquo;main&rdquo; . }}
&hellip;
{{ end }}
en basof.html
y enlazarlo con single.html escribiendo en él
{{ define &ldquo;main&rdquo; }}
{{ .Content }}
{{ end }}
si lo que quieres es que sustituya el bloque &ldquo;main&rdquo; con el contenido, indicado por .Content</p>
<h2 id="partials">partials</h2>
<p>Los
partials
son fragmentos de código HTML que se incrustan en otras plantillas.
Esto permite hacer las plantillas más modulares.</p>
<h1 id="otros-temas">Otros temas</h1>
<h2 id="fecha-de-modificación">Fecha de modificación</h2>
<p>La fecha de modificación se incluye en el archivo de contenido con un
lastmod = 2023-01-01T00:00:00+0000
en el encabezado.
Sin embargo, actualizar el fichero no modifica esa fecha automáticamente.</p>
<p>Se puede conseguir que, independientemente del valor que asignemos (o no) a lastmod,
en el blog aparezca el valor del último commit a Git.
En el fichero
config.toml
hay que incluir la línea
enableGitInfo = true
y entonces el valor de Git será tenido en cuenta.
Si queremos que sólo se tenga en cuenta cuando no tenemos un valor para lastmod,
pero que el valor que nosotros hayamos incluido tenga prioridad sobre Git,
pondremos en el archivo de configuración
[frontmatter]
lastmod = [lastmod, :git, date, publishDate]
para que lastmod tenga prioridad sobre git.</p>
<h1 id="referencia-de-markdown">Referencia de Markdown</h1>
<h2 id="código-ancho-fijo">Código (ancho fijo)</h2>
<p>Para escribir una palabra en ancho fijo, se escribe entre acentos graves:
<code>hugo</code>
escrito como `hugo`.</p>
<p>(Para escribir los acentos sin que se renderice en ancho fijo, se añade el carácter de escape <code>\</code>.</p>




<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ['\[','\]']],
    processEscapes: true,
    processEnvironments: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
    TeX: { equationNumbers: { autoNumber: "AMS" },
         extensions: ["AMSmath.js", "AMSsymbols.js"] }
  }
});
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Queue(function() {
    // Fix <code> tags after MathJax finishes running. This is a
    // hack to overcome a shortcoming of Markdown. Discussion at
    // https://github.com/mojombo/jekyll/issues/199
    var all = MathJax.Hub.getAllJax(), i;
    for(i = 0; i &lt; all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
    }
});
</script>



</body>
</html>
